<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <h1>Pessoas</h1>
    </div>

    <div class="ui-g-12">
      <label>Nome</label>
      <input pInputText type="text" style="width: 95px" appCampoColorido
      #campo="campoColorido">
    </div>

    <p-dataTable [value]="pessoas" [paginator]="true" [responsive]="true" [rows]="2">
      <p-column field="nome" header="Nome"></p-column>
      <p-column field="cidade" header="Cidade"></p-column>
      <p-column field="estado" header="Estado" styleClass="col-data"></p-column>
      <p-column field="status" header="Status" styleClass="col-data"></p-column>
      <p-column styleClass="col-acoes">
        <ng-template pTemplate="body">
          <a pButton icon="fa-pencil" pTooltip="Editar" tooltipPosition="top"></a>
          <button pButton icon="fa-trash" pTooltip="Excluir" tooltipPosition="top"></button>
        </ng-template>
      </p-column>
    </p-dataTable>
  </div>

  <button (click)="campo.aoGanharFoco()">Colorir</button>
  <button (click)="campo.aoPerderFoco()">Descolorir</button>

</div>
